// Style Variables

// colors
$primary-color: #145498;
$secondary-color: #666;

$light-color: #f8f9fa;
$semi-light-color: #fbfdff;
$dark-color: #343a40;

$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;

// fonts
$base-font-size: 16px;
$heading-font-size: 24px;
$font-family: 'Poppins', sans-serif;

// spacing
$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 20px;

$margin-small: 5px;
$margin-medium: 10px;
$margin-large: 20px;

// Breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$largeDesktop: 1200px;

// Adaptive variables
$padding-xs: 10px;
$padding-sm: 15px;
$padding-md: 20px;
$padding-lg: 25px;

$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;

$margin-xs: 5px;
$margin-sm: 10px;
$margin-md: 15px;
$margin-lg: 20px;

$line-height-xs: 1.2;
$line-height-sm: 1.4;
$line-height-md: 1.6;
$line-height-lg: 1.8;

// Animation
$default-animation: all 0.3s ease;

// Media query mixins
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin large-desktop {
  @media (max-width: $largeDesktop) {
    @content;
  }
}
