@import '../../styles/variables.scss';

.filter-wrapper {
  text-align: right;

  .filter-container {
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    margin-top: $margin-medium;
    @include mobile {
      align-items: end;
      justify-content: flex-end;
      margin-top: $margin-medium;
      row-gap: 10px;
      flex-direction: column;
    }
  
    .select-wrapper {
      position: relative;
      margin-right: $margin-medium;
      @include mobile {
        margin-right: 0;
      }
     
      & select {
        width: 100%;
        padding: 8px 30px 8px 10px;
        border: 1px solid $primary-color;
        border-radius: 4px;
        color: $secondary-color;
        font-size: $base-font-size;
        font-family: $font-family;
        line-height: $line-height-sm;
        appearance: none;
    
        &:focus {
          outline: none;
          border-color: $primary-color;
        }
        &:hover {
          outline: none;
          border-color: $primary-color;
          cursor: pointer;
          color: $primary-color;
        }
    
       
      
      }
    
      &::after {
        content: '\25BC';
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
        color: $secondary-color;
      }
      &:hover::after {
        color: $primary-color;
      }
    }
  }
  
  .toggle-button,
  .filter-button {
    background-color: $primary-color;
    color: $light-color;
    border: none;
    padding: $padding-medium - 1 $padding-large;
    border-radius: 4px;
    font-size: $base-font-size;
    font-family: $font-family;
    cursor: pointer;
  }
  
  .toggle-button {
    position: relative;
    margin-right: 0;
    width: 134px;
    margin-left: 0;
  }
}


