@import '../../styles/variables.scss';

.filter-wrapper {
  text-align: right;

  .filter-container {
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    margin-bottom: $margin-medium;
    column-gap: 10px;
    flex-wrap: nowrap;
  
    .select-wrapper {
      position: relative;
      & select {
        width: 100%; 
        padding: 8px 22px 8px 10px;
        border: 1px solid $primary-color;
        border-radius: 4px;
        color: $secondary-color;
        font-size: $base-font-size;
        font-family: $font-family;
        line-height: $line-height-sm;
        appearance: none;

        @include mobile {
          font-size: $font-xs;
          width: fit;
          padding-right: 12px;
        }
    
        &:focus {
          outline: none;
          border-color: $primary-color;
        }
        &:hover {
          outline: none;
          border-color: $primary-color;
          cursor: pointer;
          color: $primary-color;
        }
      }
    
      &::after {
        content: '\25BC';
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
        color: $secondary-color;
        font-size: 12px;
        @include mobile {
          right: 5px;
          font-size: 10px;
        }
      }
      &:hover::after {
        color: $primary-color;
      }
    }
  }
  
  .filter-button {
    background-color: $primary-color;
    color: $light-color;
    border: none;
    padding: $padding-medium - 1 $padding-large;
    border-radius: 4px;
    font-size: $base-font-size;
    font-family: $font-family;
    cursor: pointer;
  }
}


